# Node / Next
node_modules/
.next/
.out/
dist/
.cache/
.turbo/
.vercel/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Contentlayer / MDX (se usar futuramente)
.contentlayer/
.contentlayer-cache/

# Ambiente
.env*
!.env.example

# SO / editor
.DS_Store
*.log
